
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';
$grid-gutter-width: 16px !default;
// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}
p {
  font-size: 18px;
}
.contact-card{
  box-shadow: 0 5px 12px -4px rgba(0,0,0, .3);
  padding: 16px;
  .name {
    margin-bottom: 0;
    color: #444;
  }
  .title {
    color: #999;
  }
}

.form-wrapper {
  margin-top: 50px;
}
