<div class="col-xs-12">
  <div class="form-wrapper">

    <form id="add-contact" action="" method="post">
      <div class="form-inline">
        <div class="form-group">
          <input type="text" name="firstName" class="form-control" value="" placeholder="First Name">
          <input type="text" name="lastName" class="form-control" value="" placeholder="Last Name">
          <input type="text" name="title" class="form-control" value="" placeholder="Title">
        </div>
      </div>
      <div class="form-group">
        <input type="email" name="email" class="form-control" value="" placeholder="Email address">
        <input type="tel" name="phone" class="form-control" value="" placeholder="Phone (ex:555-555-5555)">
      </div>
      <div class="form-group">
        <input type="text" name="twitterHandle" class="form-control" value="" placeholder="Twitter handle">
        <input type="url" name="linkedIn" class="form-control" value="" placeholder="Linked In">
      </div>
      <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Submit">

      </div>

    </form>
  </div>
</div>
